<div id='heading'>
				<div id='logo'><a href='{{site.url}}'>{{site.first_name}}</a> <a href='{{site.url}}' id='logo_docs'>
			{{site.last_name}}</a></div>
			<div id='links'>
				<a href='https://github.com/{{site.github}}' target="_blank" >
					<span class="icon-github" ></span>
				</a> |
				<a href= '{{site.tumblr}}'  target="_blank">
				<span class="icon-tumblr" ></span>	
				</a> |
				<!--<a href='{{site.twitter}}' class="icon-linkedin"></a>-->
			</div>

			<div id='linksPrevNext'>
				<a href='https://github.com/{{site.github}}' target="_blank" >
					<img src="/svg/anterior.svg/"</span>
				</a> 
				<a href= '{{site.tumblr}}'  target="_blank">
				    <img src="/svg/siguiente.svg/"</span>
				</a> 
				
			</div>