<div id='heading'>
	<div id='logo'>
		<a href='http://mqvlm.github.io/about.html'><p>about</p></a> <a href='{{site.url}}' id='logo_docs'>
	{{site.last_name}}</a></div>
	<div id='links'>
	<a href='https://github.com/{{site.github}}' target="_blank" >
		<span class="icon-github" ></span>
	</a> |
	<a href= '{{site.tumblr}}'  target="_blank">
	<span class="icon-tumblr" ></span>	
	</a> |
	<a href= 'http://www.instagram.com/mqvlm'  target="_blank">
	<span class="icon-instagram" ></span>	
	</a> |
	<!--<a href='{{site.twitter}}' class="icon-linkedin"></a>-->
</div>