<script type="text/javascript" src='/js/jquery.min.js'></script>
<!--
<script type="text/javascript" src='/js/jquery.masonry.min.js'></script>
<script type="text/javascript" src='/js/jquery.imagesloaded.min.js'></script>-->
<script type="text/javascript" src='/js/highlight.pack.js'></script>
<script type="text/javascript" src='/js/processing.min.js'></script>
<!--
<script type="text/javascript">
	/*hljs.initHighlightingOnLoad();*/
	function applyTiles() {
		posts.imagesLoaded(function() {
			$('#posts ul').masonry({ itemSelector : '.post' });;
		var posts = $('#posts ul');
		});
	}
	$(function() {
		applyTiles();
	});
	$(window).resize(function() {
		applyTiles();
	});
</script>
-->


