<html>
	{% include head.html %}
	<body>
		<section id="about">
			<div class="row page-title">
				<div class="col-sm-12">
					<h1>About </h1>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<img src="/img/about_2.jpg" alt="Mariana Quintero Vecchiato mqvlm" height="200"/ style="float: left; margin: 25px 0px;"> 
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<p>Multimedia developer, interaction designer & researcher, Mariana Quintero works and develops her practice at the intersection where digital fabrication technologies, digital literacy and information and computation ethics & aesthetics meet, contributing to projects that investigate how digital information and technologies translate, represent and mediate knowledge about the world. </p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<img src="/img/post1.png" alt="Mariana Quintero Vecchiato mqvlm" height="200"/ style="float: left; margin: 25px 0px;"> 
				</div>
			</div>
			<div class="row" style="margin-bottom: 25px;" id="present">
				<div class="col-sm-12">
					<h3>Recent </h3>
				</div>
				<div class="col-sm-12">
					<a href="https://iaac.net/educational-programmes/masters-programmes/master-in-design-for-emergent-futures-mdef/" target="_blank"><p> Faculty & Curriculum Design, MDEF - Master in Design for Emergent Futures / IAAC | Fab Lab Barcelona </p></a>
				</div>
				<!--
				<div class="col-sm-12">
					<a href="https://fab.city"><p> Fab City Global Initiative Collaborator - Fab City comprises a Network of 28 cities and a global network of changemakers working to make locally productive, globally connected cities and citizens. </p></a>
				</div>
				-->
			</div>
			
			<!--
			<div class="row">
				<div class="col-sm-12">
					<h3>Past</h3>
				</div>
			</div>
			{% for collaboration in site.data.collaborations %}
			<div class="row">
				<div class="col-sm-12">
					<a href="{{ collaboration.url }}" target="_blank"><p> {{ collaboration.name }} </p></a>
				</div>
			</div>
			{% endfor %}
	-->
			<div class="row">
				<div class="col-sm-12">
					<p> Enquiries: mariana.nodo@gmail.com </p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<a href="/"><p> back to home </p></a>
				</div>
			</div>
			
		</section>
	
	{% include googleana.html %}
	{% include js.html %}
	</body>
</html>
