<html>
	{% include head.html %}
	<body>
		<section id="about">
			<div class="row">
				<div class="col-sm-12">
					<h1 class="landing">About </h1>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<img src="/img/about.jpg" alt="Mariana Quintero Vecchiato mqvlm" height="200"/ style="float: left; margin: 50px 0px;"> 
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<p>Multimedia developer, interaction designer & researcher, Mariana Quintero works and develops her practice at the intersection where digital fabrication technologies, digital literacy and information and computation ethics & aesthetics meet, contributing to projects that investigate the rise of the third digital revolution and how digital information and technologies translate, represent and mediate knowledge about the world. For the last three years she has been based in Barcelona contributing to research projects at IAAC | Fab Lab Barcelona and developing digital literacy curricula. </p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<img src="/img/post1.png" alt="Mariana Quintero Vecchiato mqvlm" height="200"/ style="float: left; margin: 50px 0px;"> 
				</div>
			</div>

		</section>
	
	{% include googleana.html %}
	{% include js.html %}
	</body>
</html>
