<html>
	<head>
		<meta name="viewport" id="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link href="/blog/rss.xml" rel="alternate" type="application/rss+xml" title="{{site.blog_title}}" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>{{page.title}} - {{ site.blog_title }}</title>
		<script type="text/javascript" src='/js/processing.min.js'></script>
	</head>
	
	<body>
		<canvas width="300" height="300" data-processing-sources="/sketches/rect.pde"> </canvas>
		
    </body>
</html>
