<html>
	{% include head.html %}
	<body>
		<section id="bodypaint" class="regular">
			<div class="row page-title">
				<div class="col-sm-12">
					<h1>Education </h1>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
                    <div class="img-cover" style="background-image: url('/img/digital.png');" alt="Mariana Quintero Vecchiato"></div>
              	</div>
              	<div class="col-sm-4">
              		<div class="img-cover" style="background-image: url('/img/molinos.jpg');" alt="Mariana Quintero Vecchiato"></div>
				</div>
				<div class="col-sm-4">
				</div>
				<div class="col-sm-4">
              		<div class="img-cover" style="background-image: url('/img/soko.PNG');" alt="Mariana Quintero Vecchiato"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<p>Since 2015 I've been collaborating with different organizations, spaces and collectives creating programmes and methodologies to introduce different audiences to programming languages, physical computing, interactive systems and digital culture, with the aim of inviting them to reflect on how their daily lives and the systems they inabit are deeply affected by the multiple layers of digital hardware and software that mediate our lives. The curricula and activitities I like to participate in and help build seek to empower the participants with basic fundamental knowledge, skills and concepts that allow them to build a more informed and critical view on the technological mediations that of their daily lives.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<a href="/about#present" target="_blank"><p>present and past collaborations </p></a>
				</div>
			</div>
		</section>
		<section id="inquiries" class="regular">
			<div class="row">
				<div class="col-sm-12">
					<p> Enquiries: mariana.nodo@gmail.com </p>
				</div>
			</div>

		
		</section>
	{% include googleana.html %}
	{% include js.html %}
	</body>
</html>
