<html>
	{% include head.html %}
	<body>
		<section id="bodypaint" class="regular">
			<div class="row page-title">
				<div class="col-sm-12">
					<h1>Education </h1>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
                    <div class="img-cover" style="background-image: url('/img/digital.png');" alt="Mariana Quintero Vecchiato"></div>
              	</div>
              	<div class="col-sm-4">
              		<div class="img-cover" style="background-image: url('/img/molinos.jpg');" alt="Mariana Quintero Vecchiato"></div>
				</div>
				<div class="col-sm-4">
              		<div class="img-cover" style="background-image: url('/img/soko.png');" alt="Mariana Quintero Vecchiato"></div>
				</div>
			</div>
		</section>
	{% include googleana.html %}
	{% include js.html %}
	</body>
</html>
