<html>
	{% include head.html %}
	<body>
		<section id="bodypaint" class="regular">
			<div class="row page-title">
				<div class="col-sm-12">
					<h1>Interaction design </h1>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
                    <div class="img-cover" style="background-image: url('/img/pollockids4.jpg');" alt="Mariana Quintero Vecchiato"></div>
              	</div>
              	<div class="col-sm-4">
              		<div class="img-cover" style="background-image: url('/img/pollockids5.jpg');" alt="Mariana Quintero Vecchiato"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<p>I use interaction design to explore how digital interfaces and technologies translate, represent and mediate knowledge about the world. Questioning the relationship between systems, their ranges and their protocols, conventions and symbols, I seek to engage participants in exploring how those translations operate, and ultimately how they can be defined, hacked and created, inviting them to inquire what this means in the politics of who decides the operability and what is possible between interfaces, information, and us. </p>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-2">
                    <div class="img-cover small" style="background-image: url('/img/pollockids5.jpg');" alt="Mariana Quintero Vecchiato"></div>
              	</div>
              	<div class="col-sm-2">
              		<div class="img-cover small" style="background-image: url('/img/pollockids1.jpg');" alt="Mariana Quintero Vecchiato"></div>
				</div>
				<div class="col-sm-6">
					<p class="caption"> bodypaint - (2016) is an interactive installation/methodology for learning the fundamentals of computational thinking and programming through the expression of gestures in the body and their algorithmic response, which participants can modify and play with, understanding the concept of conditionals in computer science. </p>
				</div>
			</div>
		</section>
		<section id="desencuentros" class="regular">
			<div class="row" style="">
				<div class="col-sm-12">
					<p>Through workshops, seminars, intervening particular spaces or my personal work, I try to find opportunities to enable an experience where participants and visitors can question the worlds of plasticity and representation that are at play when translating properties and actions between their physical bodies and their possible digital translations.</p>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<iframe class="embed" src="https://player.vimeo.com/video/100271977" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="float: left"></iframe>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-2">
                    <div class="img-cover small" style="background-image: url('/img/desencuentros.jpg');" alt="Mariana Quintero Vecchiato"></div>
              	</div>
				<div class="col-sm-6">
					<p class="caption">[des]encuentros (2015) (transl. [mis]encounters) is an intervention design for a theater, originally designed for Espacio Odeón in Bogotá, Colombia, a 1940's modernist theater in ruins now turned contemporary art exhibition and research center. The piece inquires around the concept of the digital representation of bodies and identities and how their encounter or dissolution in digital space resolves in the ephemeral or the transcendent. </p>
				</div>
			</div>
		</section>
		<section id="colombia3" class="regular">
			<div class="row">
				<div class="col-sm-6">
                    <div class="img-cover" style="background-image: url('/img/5.jpg');" alt="Mariana Quintero Vecchiato"></div>
              	</div>
			</div>

			<div class="row">
				<div class="col-sm-2">
                    <div class="img-cover small" style="background-image: url('/img/2.jpg');" alt="Mariana Quintero Vecchiato"></div>
              	</div>
				<div class="col-sm-6">
					<!-- <p class="caption">Colombia 3.0 event's colourful pathways were a live coding collaboration where I intervened the main hall's floors so that people could play with the pathways they left behind while circulating the main event's space. (2015)</p> -->
				</div>
			</div>
		</section>
		<section id="kinect" class="regular">
			<div class="row">
				<div class="col-sm-6">
                    <div class="img-cover" style="background-image: url('/img/2.png');" alt="Mariana Quintero Vecchiato"></div>
              	</div>
            </div>
            <div class="row">
            	<div class="col-sm-2">
                    <div class="img-cover small" style="background-image: url('/img/3.png');" alt="Mariana Quintero Vecchiato"></div>
              	</div>
              	<div class="col-sm-2">
                    <div class="img-cover small" style="background-image: url('/img/4.png')" alt="Mariana Quintero Vecchiato"></div>
              	</div>
              	<div class="col-sm-2">
                    <div class="img-cover small" style="background-image: url('/img/5.png');" alt="Mariana Quintero Vecchiato"></div>
              	</div>
              	<div class="col-sm-6">
              	</div>
				<div class="col-sm-6">
					<!--<p class="caption">Getting curious with Kinect (2015) was a simple intervention for the the Colectivo Estratósfera's Fiesta Interplatanaria electronic party in Manizales, Colombia where participants were invited to inquire about the fundamentals of programming and interactivity through dance and movement.</p> -->
				</div>
			</div>
		</section>

		<section id="doves" class="regular">
			<div class="row">
				<div class="col-sm-12">
					<iframe class="embed" style="float:left;" src="https://player.vimeo.com/video/134890135" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>
			</div>
			<!--
			<div class="row">
				<div class="col-sm-7">
					<p class="caption">Doves (2015) was s short 12 hour challenge to intervene one of the hallways of a public school during a presidential visit to Manizales, Colombia. The doves accompanied the former president of Colombia Juan Manuel Santos as he walked down the main corridor of the school.  </p>
				</div>
			</div>
-->
		</section>
		<section id="museum" class="regular">
			<div class="row">
				<div class="col-sm-4">
                    <div class="img-cover" style="background-image: url('/img/post2_1.png');" alt="Mariana Quintero Vecchiato"></div>
              	</div>
              	<div class="col-sm-4">
              		<div class="img-cover" style="background-image: url('/img/post2_2.png');" alt="Mariana Quintero Vecchiato"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2">
					<div class="img-cover small" style="background-image: url('/img/museum_3.PNG');" alt="Mariana Quintero Vecchiato"></div>
				</div>
				<div class="col-sm-6">
					<!--<p class="caption">Surprise Museum (2014) was a short excercise  intervention at Los Andes University in Bogota where famous cubist paintings were projected as if they were hanging  on the wall for the passers-by to discover that they could actually play with them via their shadow.  </p>-->
				</div>
			</div>
		</section>
		<section id="blog" class="regular">
			<div class="row">
				<div class="col-sm-2">
                    <div class="img-cover small" style="background-image: url('/img/post1.png');" alt="Mariana Quintero Vecchiato"></div>
              	</div>
              	<div class="col-sm-2">
                    <div class="img-cover small" style="background-image: url('/img/1.png');" alt="Mariana Quintero Vecchiato"></div>
              	</div>
              	<div class="col-sm-2">
                    <div class="img-cover small" style="background-image: url('/img/0.png');" alt="Mariana Quintero Vecchiato"></div>
              	</div>
              	<div class="col-sm-6">
              	</div>
              	<div class="col-sm-2">
                    <div class="img-cover small" style="background-image: url('/img/post3_prostheses.gif');" alt="Mariana Quintero Vecchiato"></div>
              	</div>
              	<div class="col-sm-2">
                    <div class="img-cover small" style="background-image: url('/img/renoir2.gif');" alt="Mariana Quintero Vecchiato"></div>
              	</div>
			</div>
			<div class="row">
				<div class="col-sm-8">
					<p class="caption">mqvlm.github.io used to be a repo space where I would put lots of useful Processing code and open-source studies. I don't maintain it anymore but you can still find the posts here as well as the open source jekyll template for this website: <a target="_blank" href="https://github.com/mqvlm/mqvlm.github.io/tree/master/_posts">github repo </a></p>
					<p class="caption">*Keep in mind some or the code could be deprecated or links might be broken. I will work to keep clean legacy versions.  </p>
				</div>
			</div>
		</section>
		<section id="inquiries" class="regular">
			<div class="row">
				<div class="col-sm-12">
					<p> Enquiries: mariana.nodo@gmail.com </p>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<a href="/"><p> back to home </p></a>
				</div>
			</div>
		</section>
	
	{% include googleana.html %}
	{% include js.html %}
	</body>
</html>
