<html>
	{% include head.html %}
	<body>
		<section id="about">
			<div class="row">
				<div class="col-sm-12">
					<h1>Interaction design </h1>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<img src="/img/pollockids-compo.png" alt="Mariana Quintero Vecchiato mqvlm" height="350"/ style="float: left; margin: 25px 0px;"> 
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<p>Some text. </p>
				</div>
			</div>


			<div class="row">
				<div class="col-sm-12">
					"><p> Enquiries: mariana.nodo@gmail.com </p>
				</div>
			</div>
			

		</section>
	
	{% include googleana.html %}
	{% include js.html %}
	</body>
</html>
