<html>
	{% include head.html %}
	<body>
		<section id="about">
			<div class="row">
				<div class="col-sm-12">
					<h1>Interaction design </h1>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<img class="standard" src="/img/pollockids4.jpg" alt="Mariana Quintero Vecchiato mqvlm" height="300" style="float: left; margin: 25px 0px;"> 
					<img class="standard" src="/img/pollockids5.jpg" alt="Mariana Quintero Vecchiato mqvlm" height="300" style="float: left; margin: 25px 0px;">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<p class="caption"> bodypaint (2016) is an interactive methodology for learning the fundamentals of computational thinking and programming through the expression of gestures in the body and their algorithmic response, which participants can modify and play with, understanding the concept of conditionals in computer science. </p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<p>I use interaction design to explore how digital interfaces and technologies translate, represent and mediate knowledge about the world. Exploring the translatability between systems, their ranges and their protocols, conventions and symbols, I seek to engage participants in expoloring how those translations operate, and ultimately how they can be defined, hacked and created from scratch, with the purpose to inquire what this means in the politics of who decides the operability and what is possible between interfaces, information, and us as agents in these processes of meaning production. </p>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<img class="standard" src="/img/desencuentros.jpg" alt="Mariana Quintero Vecchiato mqvlm" height= "360px" style="float: left;"> 
					<iframe  class="embed" src="https://player.vimeo.com/video/100271977" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<p class="caption"> [des]encuentros (2015) (transl. [mis]encounters) is an intervention design for a theater, originally designed for Espacio Odeón in Bogotá, Colombia, a 1940's modernist theater in ruins now turned contemporary art exhibition and research center. The piece inquires around the concept of the digital representation of bodies and identities and how their encounter or dissolution in digital space resolves in the ephemeral or the transcendent.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<img class="standard" src="/img/5.jpg" alt="Mariana Quintero Vecchiato mqvlm" height= "300px" style="float: left;"> 
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<p class="caption">Colombia 3.0 event's colourful pathways is a simple live coding collaboration where I intervened the main hall's floors so that people could play with the pathways they left behind. (2015)</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<img class="standard" src="/img/2.png" alt="Mariana Quintero Vecchiato mqvlm" height= "300px" style="float: left;"> 
					<img class="standard" src="/img/3.png" alt="Mariana Quintero Vecchiato mqvlm" height= "300px" style="float: left;">
					<img class="standard" src="/img/4.png" alt="Mariana Quintero Vecchiato mqvlm" height= "300px" style="float: left;">
					<img class="standard" src="/img/5.png" alt="Mariana Quintero Vecchiato mqvlm" height= "300px" style="float: left;">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<p class="caption">Getting curious with Kinect (2015) was a simple intervention for the the Colectivo Estratósfera's Fiesta Interplatanaria electronic party in Manizales, Colombia where participants were invited to get curious about the fundamentals of programming and interactivity through dance and movement.</p>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-12">
					<iframe class="embed" style="float:left;" src="https://player.vimeo.com/video/134890135" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<p class="caption">Doves (2015) was a 12 hour challenge to intervene one the the hallways of a public school during a presidential visit to Manizales, Colombia.  </p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<img class="standard" src="/img/post2_1.png" alt="Mariana Quintero Vecchiato mqvlm" height= "300px" style="float: left;"> 
					<img class="standard" src="/img/post2_2.png" alt="Mariana Quintero Vecchiato mqvlm" height= "300px" style="float: left;">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<p class="caption">Surprise Museum (2014) was a short excercise  intervention at Los Andes University in Bogota where famous cubist paintings were projected as if they were hanging  on the wall for the passers-by to discover that they could actually play with them via their shadow.  </p>
				</div>
			</div>


			<div class="row">
				<div class="col-sm-12">
					<img src="/img/post1.png" alt="Mariana Quintero Vecchiato mqvlm" height= "200px" style="float: left;"> 
					<img src="/img/1.png" alt="Mariana Quintero Vecchiato mqvlm" height= "200px" style="float: left;">
					<img src="/img/0.png" alt="Mariana Quintero Vecchiato mqvlm" height= "200px" style="float: left;">
					<img src="/img/post3_prostheses.gif" alt="Mariana Quintero Vecchiato mqvlm" height= "200px" style="float: left;">
					<img src="/img/renoir2.gif" alt="Mariana Quintero Vecchiato mqvlm" height= "200px" style="float: left;">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<p class="caption">mqvlm.github.io used to be a repo space where I would put lots of useful Processing code, experiments and exercises. I don't maintain it anymore but you can still find the posts here as well as the open source jekyll template for this website: <a target="_blank" href="https://github.com/mqvlm/mqvlm.github.io/tree/master/_posts">github repo </a></p>
					<p class="caption">*Keep in mind some or the code could be deprecated or links might be broken. I will work to keep clean legacy versions.  </p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<p> Enquiries: mariana.nodo@gmail.com </p>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<a href="/"><p> back to home </p></a>
				</div>
			</div>
			

		</section>
	
	{% include googleana.html %}
	{% include js.html %}
	</body>
</html>
