<html>
	{% include head.html %}
	<body>
		<div id="intro">
			<h1 style="margin-top: 0px;">Mariana Quintero <a href="/about" target="_blank"><img id="intro1" src="/img/self.jpg" alt="Mariana Quintero Vecchiato mqvlm"></a> , interaction designer <img id="intro2" src="/img/desencuentros.jpg" alt="Mariana Quintero Vecchiato mqvlm"> , digital literacy advocate, researcher and educator <img id="intro3" src="/img/digital.png" alt="Mariana Quintero Vecchiato mqvlm"> .</h1>

			<h1 style="margin-top: 60px;">Bogotá / Barcelona. <img id="intro4" src="/img/pollockids1.jpg" alt="Mariana Quintero Vecchiato mqvlm"></h1>

			<a href="/about" target="_blank"><h1 style="margin-top: 60px;">About <img id="intro5" src="/img/post1.png" alt="Mariana Quintero Vecchiato mqvlm"/></h1></a>

			<h1 style="margin-top: 60px; word-break: break-all;"><img id="intro6" src="/img/pollockids5.jpg" alt="Mariana Quintero Vecchiato mqvlm"/> inquiries: mariana.nodo@gmail
			</h1>
		</div>
	{% include googleana.html %}
	{% include js.html %}
	</body>
</html>
