<html>
	{% include head.html %}
	<body>

		<h1 class="landing" style="margin-top: 0px;">Mariana Quintero <img src="/img/self.jpg" width="95" style="margin-bottom: -25px;"/> , interaction designer <img src="/img/desencuentros.jpg" width="140" style="margin-bottom: -25px;"/> digital literacy advocate and maker educator <img src="/img/digital.png" width="130" style="margin-bottom: -20px;"/> . </h1>

		<h1 class="landing" style="margin-top: 60px;">Bogota / Barcelona. <img src="/img/pollockids1.jpg" width="140" style="margin-bottom: -20px;"/>
		</h1>

		<h1 class="landing" style="margin-top: 60px;"> <img src="/img/pollockids5.jpg" width="140" style="margin-bottom: -20px;"/> inquiries: mariana.nodo@gmail
		</h1>
	
	{% include googleana.html %}
	{% include js.html %}
	</body>
</html>
